.section-main, .section-about {
    width: 100%;
    height: 100vh;
}

@media (min-width: 992px) {
    .pl-10-pc-lg {
        padding-left:10%;
    }

    .social-icons {
        position: fixed;
        bottom: 15px;
        left:30px;
    }

    .social-icons-icon {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section-main .text-block-outer {
        width: calc(65% - 170px); /*see img#coming-home */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

        .section-main .text-block-outer .spacer-top {
            flex-grow: 1.1;
        }

        .section-main .text-block-outer .spacer-button {
            flex-grow: 1;
        }
    .sign-up-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sign-up-button.higher {
        /*padding-left: 80px;
            padding-right: 80px;*/
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .section-about {
        padding-left: 111px;
        padding-right: 77px;
        padding-top: 18vh;
        padding-bottom: 9vh;
    }

    .section-about > div {
        height: 100%;
    }

    .about-div {
        padding-right: 35px;
    }
    .about-text {
        padding-right: 25px;
        padding-left: 30px;
        margin-left: 10px;
        margin-top: -5.3vh;
        padding-top: 5.3vh;
        margin-bottom: 6.2vh;
        padding-bottom: 7.2vh;
    }
}
