.theme-purple {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 37px;
}

    .theme-purple section.section-main {
        background: linear-gradient(to right, rgb(94,53,177) 35%, white 0%);
    }

    .navbar-purple .navbar-brand {
        color: rgba(0, 0, 0, 0.9);
        /*font-size: 30px;*/
    }

    .navbar-purple .navbar-brand:hover, .navbar-purple .navbar-brand:focus {
        color: rgba(0, 0, 0, 0.9);
        /*font-size: 30px;*/
    }

.navbar-purple .navbar-nav .nav-link {
    color: rgb(94,53,177);
    /*font-size: 30px;*/
    padding-left: 15px;
    padding-right: 15px;
}

    .navbar-purple .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: rgba(94,53,177, 0.7);
        /*font-size: 30px;*/
    }

    .navbar-purple .navbar-nav .nav-link.disabled {
        color: rgba(94,53,177, 0.3);
        /*font-size: 30px;*/
    }

    .navbar-purple .navbar-nav .show > .nav-link,
    .navbar-purple .navbar-nav .active > .nav-link,
    .navbar-purple .navbar-nav .nav-link.show,
    .navbar-purple .navbar-nav .nav-link.active {
        color: rgba(94,53,177, 1);
        /*font-size: 30px;*/
        font-weight: bold;
    }

.navbar-purple .navbar-toggler {
    color: rgba(94,53,177, 1);
    /*font-size: 30px;*/
    border-color: rgba(94,53,177, 1);
}

.navbar-purple .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-purple .navbar-text {
    color: rgba(94,53,177, 1);
    /*font-size: 30px;*/
}

    .navbar-purple .navbar-text a {
        color: rgba(94,53,177, 1);
        /*font-size: 30px;*/
    }

        .navbar-purple .navbar-text a:hover, .navbar-purple .navbar-text a:focus {
            color: rgba(94,53,177, 0.7);
            /*font-size: 30px;*/
        }

.bg-purple {
    background-color: rgba(94,53,177, 1) !important;
}

.bg-part-purple {
    background: linear-gradient(to right, rgb(94,53,177) 35%, white 0%);
}

.theme-purple h1, h2, h3, h4, h5, h6 {
    color: #512DA8;
}

.theme-purple .text-purple-light {
    color: #9F69FF;
}

.theme-purple h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 59px;
}

    .theme-purple h1.letter-spacing-bigger {
        letter-spacing: 0.04em;
    }

    .theme-purple .btn {
        border-radius: 12px !important
    }

.bg-orange {
    background: #FF6129 !important;
}

.bg-purple {
    background: #673AB7 !important;
}

.theme-purple .text-lg {
    font-size: 36px;
    line-height: 42px;
}

.theme-purple .text-lg-md {
    font-size: 32px;
    line-height: 38px;
}

.theme-purple .text-md {
    font-size: 24px;
    line-height: 32px;
}

.theme-purple .text-sm {
    font-size: 20px;
    line-height: 24px;
}

.theme-purple .text-xs {
    font-size: 18px;
    line-height: 21px;
}

.about-text {
    background: #F2F2F2;
    border-radius: 6px;
}

.theme-purple .text-black {
    color: #2F2E41 !important;
}

